.reset-password {
  background: $white;
  box-shadow: 0px 0px 5px 0px #f2f2f2;
  border-radius: 5px;
  color: #121212;
  text-align: center;
  margin: 0 5%;
  padding: 93px 0 280px 0;


  .username {
    @include setWH(190px, 20px);

    text-align: left;
    display: inline-block;
  }

  .reset-password-item {
    position: relative;
    margin-bottom: 17px;

    &.no-empty {
      & > input {
      border: 1px solid $required;

        &:focus {
          outline-color: $required;
        }
      }
    }

    .required {
      margin-left: -8px;
    }

    & > label {
      display: inline-block;
      text-align: left;
      width: 80px;
    }

    & > input {
      @include setWH(190px, 20px);

      border: 1px solid $border-color;
      border-radius: 2px;
      padding: 0 5px;

      &:focus {
        outline-color: $primary-color;
      }
    }
  }

  .tips {
    & > span {
      margin-left: -12px;
    }
  }

  .buttons {
    margin-top: 35px;
  }
}
