$body-background: #fafbfc;
$primary-color: #3269f6;
$grey-light: #999;
$grey-medium: #666;
$grey-heavy: #333;
$border-color: #d1d1d1;
$white: #fff;
$black: #000;
$table-border: #e6e5e6;
$expired: #eb4a4a;
$to-be-distributed: #219321;
$distributed: #aeaeae;
$divide-color: #ccdcdd;
$required: #ff3838;
$font-color: #121212;
